################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project PageMagic/.vs/Project PageMagic/v15/ipch/AutoPCH/7248913ff89e80d7/MAIN.ipch
