################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Project PageMagic-VS/Project PageMagic-VS.sln
